#main {
  background: #008000;
  width: 100%;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px 15px;

  img {
    width: 100%;
    height: 200px;
  }

  .card {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }
}
